# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Environments
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Testing & caches
.pytest_cache/
.coverage
htmlcov/

# OS / Editor specific
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
